.profile {
    border-radius: 50%;
}

.nature_img {
    max-height: 930px;
}

.resume-icon {
    border-radius: 40%;
}

element.style {
    background: 
    rgb(17, 19, 20) 0%, 
    rgb(17, 19, 20) 20%, 
    rgb(255, 255, 255) 20%, 
    rgb(255, 255, 255) 40%, 
    rgb(42, 67, 48) 40%, 
    rgb(42, 67, 48) 60%, 
    rgb(62, 99, 64) 60%, 
    rgb(62, 99, 64) 80%, 
    rgb(90, 198, 94) 80%, 
    rgb(90, 198, 94) 100%;
}
